<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mafia.mapper.MemberMapper">

    <select id="idCheck" resultType="String">
        SELECT member_id FROM mafia.member WHERE member_id=#{memberId};
    </select>

    <select id="emailCheck" resultType="String">
        SELECT email FROM mafia.member WHERE email=#{email}
    </select>

    <select id="login" resultType="tds.vo.MemberVo">
        SELECT company_number,member_number,member_id,password,member_name,phone,email,role FROM mafia.member WHERE member_id=#{memberId} AND company_number=#{companyNumber}
    </select>

    <select id="findId" resultType="map">
        SELECT member_id,member_name FROM mafia.member WHERE member_name=#{memberName} AND email=#{email}
    </select>

    <select id="findPassword" resultType="String">
        SELECT password FROM mafia.member WHERE member_id=#{memberId} AND member_name=#{memberName}
    </select>

    <select id="findEmail" resultType="String">
        SELECT email FROM mafia.member WHERE member_id=#{memberId}
    </select>

    <insert id="signup">
        INSERT INTO mafia.member VALUES  (#{companyNumber},#{memberNumber},#{memberId},#{password},#{memberName},#{phone},#{email},#{role})
    </insert>

    <update id="passwordUpdate" parameterType="String">
        UPDATE mafia.member SET password=#{passwordEncrypt} WHERE member_id=#{id}
    </update>

</mapper>