<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link href="/css/main.css" rel="stylesheet" type="text/css">
<body>
<h1 class="text-center"><strong><u>Mafia Game</u></strong></h1>

<h2 class="text-center">Web으로 즐기는 마피아 게임</h2>
<center><img src="http://assets.nydailynews.com/polopoly_fs/1.2764031.1472053807!/img/httpImage/image.jpg_gen/derivatives/article_750/carlo-gambino.jpg" alt="Pic of Carlo Gambino" width="20%">
    <figcaption> 게임 시작 </figcaption>
</center>
<h3 class="text-center">게임 설명</h3>
<p class="text-center">
    Carlo Gambino was born in the city of Palermo, Sicily, in 1902, to a family that belonged to the Honored Society. The Honored Society was slightly more complicated than the Black Hand of the United States, which was often confused with the American Mafia.
    The Black Hand, much like the pre-1920s Mafia, was a highly disorganized version of the real European Mafia. Once Benito Mussolini chased a large number of real mafiosi out of Italy, Italian-Americans such as Gambino benefited from the new, better-organized
    Mafia. Gambino began carrying out murder orders for new mob bosses in his teens. In 1921, at the age of 19, he became a "made man" and was inducted into Cosa Nostra. He was later known as an "original." He was a cousin and brother-in-law of Gambino
    crime family mobster Paul Castellano. He had two brothers, Gaspare Gambino, who was never involved with the Mafia, and Paolo Gambino who had a big role in his brother's family.
</p>
<h3 class="text-center">게임 역할 설명</h3>
<p class="text-center">In the early 1960s, Gambino slowly moved against the prominent Anastasia loyalists, headed by caporegime Armand "Tommy" Rava. With Joseph Biondo as a solid underboss, Joseph Riccobono as Gambino's own consigliere, and with his top caporegimes, Aniello
    "Mr. Neil" Dellacroce, Paul "Big Paul" Castellano, Carmine "The Doctor" Lombardozzi, Joseph "Joe Piney" Armone and Carmine "Wagon Wheels" Fatico, the remaining Anastasia loyalists could never make a move. Gambino quickly expanded his rackets all over
    the country. New Gambino rackets were created in New York, Chicago, Los Angeles, Miami, Boston, San Francisco and Las Vegas. Gambino also, to regain complete control of Manhattan, took over the New York Longshoremen Union, where more than 90 percent
    of all New York City's ports were controlled. It was a great time, when the money rolled in from every Gambino racket in the U.S. and worked its way up to become America's most powerful crime family. Gambino also made his own family policy: "Deal
    and Die." This was Gambino's message to every Gambino family member; heroin and cocaine were highly lucrative, but were dangerous, and would also attract attention. The punishment for dealing drugs, in Gambino style, was death. In the 1960s, the Gambino
    family had 500[8] (other sources have 700[9] or 800[10]) soldiers, within 30 crews making the family a $500,000,000-a-year-enterprise. In 1962, his eldest son Thomas Gambino married the daughter of fellow mob boss Tommy Lucchese, the new head of the
    Gagliano crime family, whom Gambino would become close to as a partner, friend, and relative. More than 1,000 people, relatives, friends, and amico nostro ("friends of ours"), were present during the wedding-ceremony. It has been rumored that Gambino
    personally gave Lucchese $30,000 as a "welcome gift" that same day. As repayment, Lucchese cut his friend into the airport rackets that were under Lucchese control, especially at John F. Kennedy International Airport, where all unions, management,
    and security were controlled by Lucchese himself. After Joseph Bonanno was forced into retirement by the Commission, Vito Genovese died of a heart attack, and Tommy Lucchese died of a brain tumor, Gambino's status and power on the Commission was elevated
    almost immediately. While the Mafia had abolished the title of "boss of bosses," Gambino's position afforded him the powers such a title would have carried, as he was now the boss of the largest, wealthiest, and most powerful crime family in the country
    and was the head of the Commission, a position only Luciano had held before Gambino.
</p>

<h4 class="text-center">“You have to be like a lion and a fox. The fox is smart enough to recognize traps, and the lion is strong enough to scare away the wolves. Be like a lion and a fox, and no one will ever beat you.”</h4>
<p class="secondary"><i>-Carlo Gambino</i></p>

</body>
</html>